<div class="booking-details">
  <div id="ember1582" class="ember-view __pricing-box__b23db">
    <div class="pricing-box pricing-box--not-expanded ">
      <div class="pricing-box__image" alt="offer-pic" style="background-image: url(<%= cl_image_path @location.photos[0].path %>)"></div>
      <h2 class="pricing-box__request-details">Request details</h2>

      <div class="pricing-box__container">
        <h3 class="pricing-box__offer-title"><%= @location.name %> </h3>
        <div class="pricing-box__cell">
          <span>Space</span>
          <span>1 person</span>
        </div>
        <div class="pricing-box__cell">
          <span>
            Contract Type <a target="_blank" href="https://www.uniplaces.com/contract-types#fortnight">Fortnight</a>
          </span>
          <span>Ref. 568</span>
        </div>
        <div class="pricing-box__dates">
          <div class="pricing-box__move-in">
            <span class="pricing-box__move-in-title">Move in</span>
            <span class="pricing-box__move-in-date"><%= params[:in] %></span>
          </div>
          <div class="pricing-box__move-out">
            <span class="pricing-box__move-out-title">Move out</span>
            <span class="pricing-box__move-out-date"><%= params[:out] %></span>
          </div>
        </div>
        <div id="ember1648" class="ember-view __pricing-box__pricing-breakdown__d763b"><div class="pricing-breakdown ">
          <% if params[:in].present? %>
          <div class="pricing-breakdown__cell pricing-breakdown__cell--total ">
            <span>Total</span>
            <% calc_days =  (Date.parse(params[:out]) - Date.parse(params[:in]) + 1).to_i  %>
            <% if calc_days > 4 ? calc_rate = @location.rate_by_week/5.to_f * calc_days : calc_rate = calc_days * @location.rate_by_day %>
            <% end %>
            <span><%= '%.2f' % calc_rate %> €</span>
          </div>
          <div style="text-align: center !important">
           <%= link_to "CONFIRM REQUEST", location_bookings_path(@location.id), class: "btn btn--sm btn--primary type--uppercase", method: "post", params: { user_id: @user.id, begin: params[:in], end: params[:out] } %>
           <% else %>
           No dates selected
           <% end %>
         </div>
       </div>
     </div>
   </div>
 </div>
</div>
</div>
