  <a href="<%= location_path(location.id) %>">_
	<div class="card" style="background-image:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.8)), url('<%= cl_image_path location.photos[0].path  %>'); background-size: cover;">
			<div class="card-body">
				<div class="card-description">
					<h3><%= location.name %></h3>

				</div>
			</div>
			<div class="card-footer">
				<div class="card-hours" style="color: white">
					<p>Opening Hours</p></br>
					<p class="hours"> <%= location.open_hour %>:00| <%= location.close_hour %>:00</p>
				</div>
			</div>
		</div>
</a>

