  <a href="<%= location_path(location.id) %>">_

					<h3><%= location.name %></h3>
          <h4>Day: <%= location.rate_by_day %> Week: <%= location.rate_by_week %></h4>


					<p>Opening Hours</p></br>
					<p class="hours"> <%= location.open_hour %>:00| <%= location.close_hour %>:00</p>
          </a>

