    <% if private_message.body %>


      <li class= <%= if current_user.id === private_message.user_id then "private-message-sender" else "private-message-receiver" end %>>
        <h4 class="private-message-author"><%= private_message.user.first_name %> <%= private_message.user.last_name %> | <i><%= private_message.user.email %></i></h4>
        <p><%= private_message.body %></p>
           <% avatar_url = private_message.user.facebook_picture_url || "http://s3.amazonaws.com/nvest/Blank_Club_Website_Avatar_Gray.jpg" %>
            <%= image_tag avatar_url, class: "private-message-avatar" %>
      </li>
  <hr>

    <% end %>