<div class="private-message-page">


  <!-- INFORMATION ABOUT THE RECEIVER -->
  <div class="private-user-info-wrapper">
    <div class="private-user-info">
      <% if @conversation.receiver.id == current_user.id %>
       <% if @conversation.sender.avatar %>


              <%= cl_image_tag @conversation.sender.avatar.path,class: "private-message-avatar"%>
        <% else %>
        <% avatar_url = @conversation.sender.facebook_picture_url || "http://s3.amazonaws.com/nvest/Blank_Club_Website_Avatar_Gray.jpg" %>
        <%= image_tag avatar_url, class: "private-message-avatar private-message-avatar-lg " %>
        <% end %>


    <h3 class="text-left conversation-user" style="width: 100%;"> <%= @conversation.sender.first_name %> <%= @conversation.sender.last_name %></h3>
    <h4 class="text-left" style="width: 100%;"> <%= @conversation.sender.email %></h4>
    <h4 class="text-left" style="width: 100%;"> <%= @conversation.sender.activity %></h4>
    <h4 class="text-left" style="width: 100%;"> <%= "☆" * @conversation.sender.rating %></h4>
    <% else %>


       <% if @conversation.receiver.avatar %>
              <%= cl_image_tag @conversation.receiver.avatar.path,class: "private-message-avatar"%>
        <% else %>
        <% avatar_url = @conversation.sender.facebook_picture_url || "http://s3.amazonaws.com/nvest/Blank_Club_Website_Avatar_Gray.jpg" %>
        <%= image_tag avatar_url, class: "private-message-avatar private-message-avatar-lg " %>
        <% end %>


    <h3 class="text-left conversation-user" style="width: 100%;"> <%= @conversation.receiver.first_name %> <%= @conversation.receiver.last_name %></h3>
    <h4 class="text-left" style="width: 100%;"> <%= @conversation.receiver.email %></h4>
    <h4 class="text-left" style="width: 100%;"><%= @conversation.receiver.activity %></h4>
    <h4 class="text-left" style="width: 100%;"> <%= "☆" * @conversation.receiver.rating %></h4>
    <% end %>
</div>
</div>



<!-- CHATBOX -->
<div class="private-message-container">
  <div class="private-message-wrapper">
<ul class="private-message-list" id="private-message-list">
  <%= render @messages %>
</ul>
<%= render 'form' %>
</div>
</div>



</div>

<% content_for(:after_js) do %>
<%= javascript_tag do %>
const messageList = document.getElementsByClassName("private-message-list");
messageList[0].lastElementChild.scrollIntoView({block: "end"})
<% end %>
<% end %>