<div class="cover" id="Top">
  <div class="cover-image" style="background-image:url('<%= asset_path('landing/twospace-casoni-cover-vid.jpg')%>')">
  </div>
  <div class="cover-video-container">
    <video class="cover-video hidden-xs" autoplay loop muted  id="background" poster="<%= asset_path('landing/twospace-casoni-cover-vid.jpg')%>">
     <source src="<%= asset_path('tribo_landing_video.mp4')%>" type="video/mp4">
     </video>
   </div>
		<div class="cover-video-shade"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0 text-center">
					<h1 class="text-inverse">Work from unique spaces</h1>
					<div class="col-md-8  col-md-offset-2 col-sm-10 col-sm-offset-1" style="margin-top: 12px; margin-bottom: 30px;">
						<p class="text-inverse">Turning unused spaces into a network of co-working places</p>
					</div>
				</div>
			</div>
			<div class="row">
          <div class="links">
      <button type="button" class="btn-1" data-toggle="modal" data-target="#exampleModal">
      SIGN IN
    </button>
          </div>
			</div>
		</div>
		<div class="text-center" style="width:100%;font-size:24px;bottom:30px;position:absolute;">
      <a href="#section2">
			<i id="cover-arrow-down" class="white fa fa-chevron-down" ></i>
    </a>
		</div>
	</div>
	<section class="text-center" id="section2">
		<div class="container">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
					<h2>Coworking in the heart of historic Lisbon</h2>
					<p class="lead">
						Tribo is a collective of like-minded creatives working together with the freedom of having multiple private and shared spaces with all the conveniences of a modern creative environment.
					</p>
				</div>
			</div>
			<!--end of row-->
		</div>
		<!--end of container-->
	</section>
	<section>
		<div class="container">
			<div class="row">
				<div class="gallery-1">
					<div class="col-sm-6">
						<div class="gallery__image" style="background: url('<%= asset_path('landing/cowork-3.jpg')%>')">
						</div>
					</div>
					<div class="col-sm-6">
						<div class="gallery__image" style="background: url('<%= asset_path('landing/cowork-2.jpg')%>')">
						</div>
						<div class="gallery__image" style="background: url('<%= asset_path('landing/cowork-1.jpg')%>')">
						</div>
					</div>
				</div>
			</div>
			<!--end of row-->
		</div>
		<!--end of container-->
	</section>
	<section class="text-center">
		<div class="container">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
					<div class="cta">
						<h2>Come work at Tribo for a day</h2>

              <div class="links">

              <a href="#" class="btn-1 btn-black">Claim your free trial</a>
              </div>
						<p class="type--fine-print">or check out
							<a href="#">pricing plans</a>
						</p>
					</div>
				</div>
			</div>
			<!--end of row-->
		</div>
		<!--end of container-->
	</section>
	<section class="text-center bg--secondary">
		<div class="container">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
					<h2>Amenities</h2>
				</div>
			</div>
			<!--end of row-->
		</div>
		<!--end of container-->
	</section>
	<section class="bg--secondary">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<div class="feature feature-3 boxed boxed--lg boxed--border text-center">
						<i class="fi flaticon-man" style="padding:30px;"></i>
						<h4 class="lessmargin">Space to Work
						& Connect</h4>
					</div>
					<!--end feature-->
				</div>
				<div class="col-sm-4">
					<div class="feature feature-3 boxed boxed--lg boxed--border text-center">
						<i class="fi flaticon-coffee-cup" style="padding:30px;"></i>
						<h4 class="lessmargin">Unlimited Coffee, Tea & Snacks</h4>
					</div>
					<!--end feature-->

				</div>
				<div class="col-sm-4">
					<div class="feature feature-3 boxed boxed--lg boxed--border text-center">
						<i class="fi flaticon-plug " style="padding:30px;"></i>
						<h4 class="lessmargin">Individual Power Stations</h4>
					</div>
					<!--end feature-->
				</div>
				<div class="col-sm-4">
					<div class="feature feature-3 boxed boxed--lg boxed--border text-center">
						<i class="fi flaticon-wifi" style="padding:30px;"></i>
						<h4 class="lessmargin">Ultra High Speed Wifi</h4>
					</div>
					<!--end feature-->
				</div>
				<div class="col-sm-4">
					<div class="feature feature-3 boxed boxed--lg boxed--border text-center">
						<i class="fi flaticon-transport" style="padding:30px;"></i>

						<h4 class="lessmargin">Bycicle Lodge</h4>
					</div>
					<!--end feature-->
				</div>
				<div class="col-sm-4">
					<div class="feature feature-3 boxed boxed--lg boxed--border text-center">
						<i class="fi flaticon-beer" style="padding:30px;"></i>
						<h4 class="lessmargin">After-work</h4>
					</div>
					<!--end feature-->
				</div>
			</div>
			<!--end of row-->
		</div>
		<!--end of container-->
	</section>
	<section class="imagebg" style="background: url(<%= asset_path('landing/cowork-4.jpg')%>); opacity: 1; background-size:cover;">
		<div class="container" >
			<div class="row">
				<div class="col-sm-7 col-md-5">
					<div class="boxed boxed--lg border--round bg--white">
						<div class="col-md-10 col-md-offset-1 col-sm-12">
							<h3>Coworker Spotlight</h3>
							<p class="lead">
								&rdquo;I started working at Tribo Santos space earlier this year and in that time I've met so many inspiring people, and made friends too. I originally joined as an office away from home but have since made Tribo my permanent workplace.&ldquo;
							</p>
							<hr class="short" />
							<p>
								João launched his startup Vent with people he met while working at Tribo Santos.
							</p>
						</div>
					</div>
				</div>
			</div>
			<!--end of row-->
		</div>
		<!--end of container-->
	</section>
	<section class="text-center">
		<div class="container">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
					<h2>Some of our locations</h2>
					<p class="lead">
						Whether you're looking for a full-time workspace or are just visiting Lisbon, we've got an option for everyone
					</p>
				</div>
			</div>
			<!--end of row-->
		</div>
		<!--end of container-->
	</section>
	<section>
		<div class="container">
			<div class="row">
					<% @locations[0,3].each do |l| %>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <% if params[:in].present? %>
        <a  href="<%= location_path(l.id) + '?in=' + params[:in] + '&out=' + params[:out] %>">
          <% else %>
          <a href="<%= location_path(l.id) %>" class="link-to-location">
            <% end %>
          <div class="blog-card spring-fever blog-card-landing" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
          url('<%= cl_image_path l.photos[0].path %>')">
          <div class="title-content">
            <h3><%= l.name %></h3>
            <hr class="card-hr">
            <!--  <div class="intro">Yllamco laboris nisi ut aliquip ex ea commodo.</div> -->
          </div><!-- /.title-content -->
          <div class="card-info">
           <p><%= l.description %></p>
         </div><!-- /.card-info -->
         <div class="utility-info">
          <ul class="utility-list">
            <li class="comments">12</li>
            <li class="date">03.12.2015</li>
          </ul>
        </div><!-- /.utility-info -->
        <!-- overlays -->
        <div class="gradient-overlay"></div>
        <div class="color-overlay"></div>
      </div>
    </a>
</a>
</div>
  <% end %>
</div>
<div class="links btn-right">
<a href="#" class="btn-1 btn-black">SEE ALL</a>
</div>

			</div>
			<!--end of row-->
		</div>
		<!--end of container-->

	</section>
  <div class="text-center" style="width: 100%;">
    <a href="#Top">
      <i id="cover-arrow-up" class="fa fa-chevron-up" ></i>
    </a>
  </div>

