<div class="cover">
  <div class="cover-image" style="background-image:url('<%= asset_path('landing/twospace-casoni-cover-vid.jpg')%>')">
  </div>
  <div class="cover-video-container">
    <video class="cover-video hidden-xs" autoplay loop muted  id="background" poster="<%= asset_path('landing/twospace-casoni-cover-vid.jpg')%>">
     <source src="<%= asset_path('tribo_landing_video.mp4')%>" type="video/mp4">
     </video>
   </div>
		<div class="cover-video-shade"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0 text-center">
					<h1 class="text-inverse">Work from unique spaces</h1>
					<div class="col-md-8  col-md-offset-2 col-sm-10 col-sm-offset-1" style="margin-top: 12px; margin-bottom: 30px;">
						<p class="text-inverse">Turning spaces closed during the day into a network of co-working spaces.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 signup-container">
					<a class="btn btn--sm btn--primary type--uppercase" href="">
						<span class="btn__text">
							TRY IT
						</span>
					</a>
				</div>
			</div>
		</div>
		<div class="text-center" style="width:100%;font-size:24px;bottom:30px;position:absolute;">
			<i id="cover-arrow-down" class="white fa fa-chevron-down" ></i>
		</div>
	</div>
	<section class="text-center">
		<div class="container">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
					<h2>Coworking in the heart of historic Lisbon</h2>
					<p class="lead">
						Tribo is a collective of like-minded creatives working together with the freedom of having multiple private and shared spaces with all the conveniences of a modern creative environment.
					</p>
				</div>
			</div>
			<!--end of row-->
		</div>
		<!--end of container-->
	</section>
	<section>
		<div class="container">
			<div class="row">
				<div class="gallery-1">
					<div class="col-sm-6">
						<div class="gallery__image" style="background: url('<%= asset_path('landing/cowork-3.jpg')%>')">
						</div>
					</div>
					<div class="col-sm-6">
						<div class="gallery__image" style="background: url('<%= asset_path('landing/cowork-2.jpg')%>')">
						</div>
						<div class="gallery__image" style="background: url('<%= asset_path('landing/cowork-1.jpg')%>')">
						</div>
					</div>
				</div>
			</div>
			<!--end of row-->
		</div>
		<!--end of container-->
	</section>
	<section class="text-center">
		<div class="container">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
					<div class="cta">
						<h2>Come work at Tribo for a day</h2>
						<a class="btn btn--primary type--uppercase" href="">
							<span class="btn__text">
								Join our community
							</span>

						</a>
						<p class="type--fine-print">or check out
							<a href="#">pricing plans</a>
						</p>
					</div>
				</div>
			</div>
			<!--end of row-->
		</div>
		<!--end of container-->
	</section>
	<section class="text-center bg--secondary">
		<div class="container">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
					<h2>Amenities</h2>
				</div>
			</div>
			<!--end of row-->
		</div>
		<!--end of container-->
	</section>
	<section class="bg--secondary">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<div class="feature feature-3 boxed boxed--lg boxed--border text-center">
						<i class="fa fa-users fa-3x"></i>
						<h4>Space to Work
						& Connect</h4>
					</div>
					<!--end feature-->
				</div>
				<div class="col-sm-4">
					<div class="feature feature-3 boxed boxed--lg boxed--border text-center">
						<i class="fa fa-coffee fa-3x"></i>
						<h4>Unlimited Coffee, Tea & Snacks</h4>
					</div>
					<!--end feature-->
				</div>
				<div class="col-sm-4">
					<div class="feature feature-3 boxed boxed--lg boxed--border text-center">
						<i class="fa fa-bolt fa-3x"></i>
						<h4>Individual Power Stations</h4>
					</div>
					<!--end feature-->
				</div>
				<div class="col-sm-4">
					<div class="feature feature-3 boxed boxed--lg boxed--border text-center">
						<i class="fa fa-wifi fa-3x"></i>
						<h4>Ultra High Speed Wifi</h4>
					</div>
					<!--end feature-->
				</div>
				<div class="col-sm-4">
					<div class="feature feature-3 boxed boxed--lg boxed--border text-center">
						<i class="fa fa-cutlery fa-3x"></i>

						<h4>Optional On-Site Lunch Menu</h4>
					</div>
					<!--end feature-->
				</div>
				<div class="col-sm-4">
					<div class="feature feature-3 boxed boxed--lg boxed--border text-center">
						<i class="fa fa-glass fa-3x"></i>
						<h4>Drinks after day work</h4>
					</div>
					<!--end feature-->
				</div>
			</div>
			<!--end of row-->
		</div>
		<!--end of container-->
	</section>
	<section class="imagebg" style="background: url(<%= asset_path('landing/cowork-4.jpg')%>); opacity: 1; background-size:cover;">
		<div class="container" >
			<div class="row">
				<div class="col-sm-7 col-md-5">
					<div class="boxed boxed--lg border--round bg--white">
						<div class="col-md-10 col-md-offset-1 col-sm-12">
							<h3>Coworker Spotlight</h3>
							<p class="lead">
								&rdquo;I started working at Tribo Santos space earlier this year and in that time I've met so many inspiring people, and made friends too. I originally joined as an office away from home but have since made Tribo my permanent workplace.&ldquo;
							</p>
							<hr class="short" />
							<p>
								João launched his startup Vent with people he met while working at Tribo Santos.
							</p>
						</div>
					</div>
				</div>
			</div>
			<!--end of row-->
		</div>
		<!--end of container-->
	</section>
	<section class="text-center">
		<div class="container">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
					<h2>Some of our locations</h2>
					<p class="lead">
						Whether you're looking for a full-time workspace or are just visiting Lisbon, we've got an option for everyone
					</p>
				</div>
			</div>
			<!--end of row-->
		</div>
		<!--end of container-->
	</section>
	<section>
		<div class="container">
			<div class="row">
					<% @locations[0,3].each do |l| %>

				<div class="col-sm-4">
					<div class="row">
  <div class="card">
      <div class="card-body">
        <div class="card-description">
          <h3><%= l.name %></h3>
          <p> Lisbon </p>
        </div>
      </div>
      <div class="card-footer">
        <div class="card-hours">
          <p>Opening Hours</p>
          <p class="hours"> <%= l.open_hour %>am - <%= l.close_hour %>pm</p>
        </div>
        <a href="#" class="btn-card">Discover</a>
      </div>
    </div>
  </div>



				</div>
					<% end %>

			</div>
			<!--end of row-->
		</div>
		<!--end of container-->
	</section>

