<div class="content">
  <div class="cards-container">
    <div class="row" style="padding:20px">
      <% @location.each do |l| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="<%= location_path(l.id) %>">
          <div class="card">
            <div class="card-body">
              <div class="card-description">
                <h3><%= l.name %></h3>
              </div>
            </div>
            <div class="card-footer">
              <div class="card-hours-text">
                <p class="card-hours-text"><%= l.capacity %> spaces</p>
              </div>
              <p class="card-hours-text"><%= l.rate_by_week %> €</p>
            </div>
          </div>
        </a>
      </div>
      <% end %>

    </div>
    <div id="map"></div>
  </div>
</div>
<% content_for(:after_js) do %>
<%= javascript_tag do %>
var handler = Gmaps.build('Google');
handler.buildMap({ internal: { id: 'map' } }, function() {
markers = handler.addMarkers(<%= raw @hash.to_json %>);
handler.bounds.extendWith(markers);
handler.fitMapToBounds();
if (markers.length == 0) {
handler.getMap().setZoom(2);
} else if (markers.length == 1) {
handler.getMap().setZoom(14);
}
});
<% end %>
<% end %>


