<div class="content">
  <div class="location-filter-bar">
    <div class="search">
      <%= form_tag(locations_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search",class: "location-search" %>
    <% end %>
    </div>
    <% if params[:in].present? %>
    <% data_default = params[:in] + " to "+ params[:out] %>
    <% else data_default = "" end %>
    <input type="text" id="flatpickr-user" placeholder="Pick a date" data-default-date="<%= data_default %>">
  </div>
  <div class="cards-container">

    <div class="row" style="padding:20px">

      <% @location.each do |l| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <% if params[:in].present? %>
          <a href="<%= location_path(l.id) + '?in=' + params[:in] + '&out=' + params[:out] %>">
        <% else %>
          <a href="<%= location_path(l.id) %>">
        <% end %>
          <div class="card">
            <div class="card-body">
              <div class="card-description">
                <h3><%= l.name %></h3>
              </div>
            </div>
            <div class="card-footer">
              <div class="card-hours-text">
                <p class="card-hours-text"><%= l.capacity %> spaces</p>
              </div>
              <p class="card-hours-text"><%= l.rate_by_week %>€/week </p>
            </div>
          </div>
        </a>
      </div>
      <% end %>


      </div>
         <div id="map"></div>

        </div>
       </div>


       <% content_for(:after_js) do %>
       <%= javascript_tag do %>
       var handler = Gmaps.build('Google');
       handler.buildMap({ internal: { id: 'map' } }, function() {
       markers = handler.addMarkers(<%= raw @hash.to_json %>);
       handler.bounds.extendWith(markers);
       handler.fitMapToBounds();
       if (markers.length == 0) {
       handler.getMap().setZoom(2);
     } else if (markers.length == 1) {
     handler.getMap().setZoom(14);
   }
 });
 <% end %>
 <% end %>


<% end %>
<% end %>

