<div class="panel panel-default">
	<div class="panel-heading">Become a host!</div>
	<div class="panel-body">
		<div class="container">
			<div class="col-xs-12 col-sm-4 col-sm-offset-4">


				<h2>New locatoin</h2>
				<%= simple_form_for ([@user, @location]) do |f| %>

				<div class="form-inputs">
					<%= f.input :name, label: 'Location Name', error: 'Please specify A location name', required: false %>
					<%= f.input :email, label: 'Email', error: 'Please specify A location name', required: false %>

					<%= f.input :address, label: 'Address of the location' %>
					<%= f.input :description, label: 'Description', required: false %>
					<!--   f.input :photos, as: :attachinary %> -->
					<%= f.input :phone, label: 'Phone Number', required: false %>
					<%= f.input :capacity, label: 'Capacity', type: "integer" %>
					<%= f.input :rate_by_hour, label: 'Rate by hour', type: "integer" %>
					<%= f.input :rate_by_day, label: 'Rate by day', type: "integer" %>
					<%= f.input :rate_by_week, label: 'Rate by week', type: "integer" %>
					<%= f.input :features, label: 'Features (ex: "Free coffee, Wifi, Plugs")'%>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<%= f.check_box :features %> Wifi
							</div>

							<div class="form-group">
								<%= f.check_box :features %> Free coffee
							</div>

							<div class="form-group">
								<%= f.check_box :features %> Printer
							</div>

							<div class="form-group">
								<%= f.check_box :features %> Scanner
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<%= f.check_box :features %> Food
							</div>

							<div class="form-group">
								<%= f.check_box :features %> Drinks
							</div>

							<div class="form-group">
								<%= f.check_box :features %> Private rooms
							</div>

							<div class="form-group">
								<%= f.check_box :features %> Projector
							</div>
						</div>

						<%= f.input :features, label: 'Tags (ex: "Calm, Nice music, Light")' %>
						<%= f.input :rules, label: 'Rules (ex: "Smoking, No smoking")' %>

						<div class="actions">
							<%= f.submit "Validation of my location", class: "btn btn-primary"%>
						</div>


					</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
