
<div class="location-carousel">
   <div id="myCarousel" class="carousel slide" data-ride="carousel">

    <ol class="carousel-indicators">
      <% @location.photos.each_with_index do |p, i| %>
      <% if i == 0 %>
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <% else %>
      <li data-target="#myCarousel" data-slide-to="<%= i %>" class="active"></li>
      <% end %>
      <% end %>
    </ol>

    <div class="carousel-inner">
      <% @location.photos.each_with_index do |p, i| %>
      <% if i == 0 %>
      <div class="item active">
        <% else %>
        <div class="item">
          <% end %>
          <% if @location.photos[i] != nil  %>
          <%= cl_image_tag @location.photos[i].path, class: "image-carousel" %>
          <% else %>
          <%= image_tag "landing/cowork-3.jpg", class: "image-carousel" %>
          <% end %>
        </div>
        <% end %>
      </div>

      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>
<!-- END CAROUSEL - START MAIN CONTAINER -->
<div class="container-location-show">
  <div class="col-sm-5 col-sm-offset-1 col-md-5 col-md-offset-2">
    <div class="show-description-container" style="padding:20px;">
      <h3 class="pricing-box__offer-title"><%= @location.name %> </h3>
      <%= @location.address %>
      <hr>
      <h3>About the place</h3>
      <p style="text-align: left;"><%= @location.description %></p>
      <hr>
      <h3>Opening Hours</h3>
      <p style="text-align: left;">Monday to Saturday: <strong> 8am </strong>to <strong>5pm </strong></p>
      <hr>
      <h3>Features</h3>
      <p><%= @location.features %></p>
      <div id="map" style="width: 100%; height: 250px;"></div>
    </div>
  </div>
  <div class="col-sm-5 col-md-3">
    <%= render "shared/booking_details" %>
  </div>
</div>
<!--

<div class="location-wrapper">
  <div class="location-container">
    <div class="location-info-row-1">
      <div class="location-description">
        <h3>About the place</h3>
        <p><%= @location.description %></p>
      </div>

      <div class="location-price-hours">
        <h3>Opening Hours</h3>
        <p>Monday to Saturday: <strong> 8am to 5pm </strong></p>
        <h3>Prices</h3>
        <p>Day: <strong><%= @location.rate_by_day %>€</strong> | Week: <strong><%= @location.rate_by_week %>€</strong></p>
      </div>
    </div>

    <div class="location-info-row-2">
      <div class="features">
        <h3>Features</h3>
      </div>
    </div>
  </div>
</div>
<div class="payment-message">
  <span class="payment-message__text">You’ll pay only after the landlord accepts your request.</span>
</div>
<div class="location-container-2">
  <div class="location-map">
    <div id="map" style="width: 100%; height: 100%"></div>
  </div>

  <div class="location-info">
    <div class="location-contact">
      <h3>Message</h3>
      <h3 style="text-align: center; margin-top: 20px;"><%= link_to "Send a message", conversations_path(sender_id: current_user.id, receiver_id: @location.user_id), method: :post, class: "new-message-link" %></h3>

      <h3 style="text-align: center; margin-top: 20px;"> <%= link_to "Chat Room", location_messages_path(location_id: @location.id) , class: "chatroom-link" %> </h3>

    </div>
    <div class="location-other-info">
      <h3>Rules</h3>
      <p><%= @location.rules %></p></br>
      <h3>Address</h3>
      <p><%= @location.address %></p>
    </div>
  </div>




</div>
</div> -->

<% content_for(:after_js) do %>
<%= javascript_tag do %>
var handler = Gmaps.build('Google');
handler.buildMap({ internal: { id: 'map' } }, function() {
markers = handler.addMarkers(<%= raw @hash.to_json %>);
handler.bounds.extendWith(markers);
handler.fitMapToBounds();
if (markers.length == 0) {
handler.getMap().setZoom(2);
} else if (markers.length == 1) {
handler.getMap().setZoom(14);
}
});
<% end %>
<% end %>
