<!-- <div class="booking-details">
    <div id="ember1582" class="ember-view __pricing-box__b23db">  <div class="pricing-box pricing-box--not-expanded ">
    <div class="pricing-box__image" alt="offer-pic" style="background-image: url(https://d16teuje7e44sv.cloudfront.net/property-photos/6934fd9ed0c3a7368b529f5cfa333b3be30ea83a6130f68b9811b4ffce42f647/small.jpg)"></div>
        <h2 class="pricing-box__request-details">Request details</h2> -->

<!--
<div class="banner-location" style= "background-image: url(< if @location.photos? then @location.photos[0] else asset_path('landing/cowork-2.jpg') end %>">
<h2 class="title-location-show"><%= @location.name %></h2>
  </div>
 -->
<div class="location-carousel">
  <div>
 <div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <% if @location.photos[0] != nil  %>

      <% else %>
      <%= image_tag "landing/cowork-3.jpg", class: "image-carousel" %>
      <% end %>

    </div>

    <div class="item">
          <% if @location.photos[1] != nil  %>
      <%= cl_image_tag @location.photos[1].path, class: "image-carousel" %>
      <% else %>
      <%= image_tag "landing/cowork-3.jpg", class: "image-carousel" %>
      <% end %>
    </div>

    <div class="item">
         <% if @location.photos[2] != nil  %>
      <%= cl_image_tag @location.photos[2].path, class: "image-carousel" %>
      <% else %>
      <%= image_tag "landing/cowork-3.jpg", class: "image-carousel" %>
      <% end %>
    </div>
<h2 class="title-location-show"><%= @location.name %></h2>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
<div class="booking-card">
<h3 class="text-center">Book a Desk !</h3>
      <div class="pricing-box__container">
        <h3 class="pricing-box__offer-title">Single bedroom in residential Arroios</h3>
        <div class="pricing-box__cell">
            <span>Bedroom</span>
            <span>1 person</span>
        </div>
        <div class="pricing-box__cell">
            <span>
              Contract Type <a target="_blank" href="https://www.uniplaces.com/contract-types#fortnight">Fortnight</a>
            </span>
            <span>Ref. 568</span>
        </div>
        <div class="pricing-box__dates">

            <% if params[:in].present? %>
            <% data_default = params[:in] + " to "+ params[:out] %>
            <% else data_default = "" end %>
            <input type="text" id="flatpickr-show" placeholder="Pick a date" data-default-date="<%= data_default %>" style="z-index:0;">

            <div class="pricing-box__total-mobile">
                <span class="pricing-box__total-mobile-title">Total</span>
                <span class="pricing-box__total-mobile-value">303€</span>
            </div>
            <a href="#" class="pricing-box__show-details-mobile" data-ember-action="1635">View details</a>
        </div>
        <div id="ember1648" class="ember-view __pricing-box__pricing-breakdown__d763b"><div class="pricing-breakdown ">
  <div class="pricing-breakdown__cell first-rent-payment">
    <span>
      1st rental payment
      <span id="ember1661" class="ember-view uni-tooltip"><span class="uni-tooltip__icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26.42 26.42" width="20" height="20"><path d="M13.21 0a13.21 13.21 0 1 0 13.21 13.21A13.21 13.21 0 0 0 13.21 0zm1 20.2a1 1 0 0 1-2 0v-8a1 1 0 0 1 2 0zm-1-11.26a1.69 1.69 0 1 1 1.69-1.69 1.69 1.69 0 0 1-1.67 1.69z" fill="#667485"></path></svg>

</span>
<div class="uni-tooltip__text">
<!---->
    Payment equivalent to one month of rent to cover for January, 2018


<!----></div>
</span>
    </span>
    <span>250€</span>
  </div>
  <div class="pricing-breakdown__cell service-fee">
    <span>
      One-time Service Fee
      <span id="ember1678" class="ember-view uni-tooltip"><span class="uni-tooltip__icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26.42 26.42" width="20" height="20"><path d="M13.21 0a13.21 13.21 0 1 0 13.21 13.21A13.21 13.21 0 0 0 13.21 0zm1 20.2a1 1 0 0 1-2 0v-8a1 1 0 0 1 2 0zm-1-11.26a1.69 1.69 0 1 1 1.69-1.69 1.69 1.69 0 0 1-1.67 1.69z" fill="#667485"></path></svg>
</span>
<div class="uni-tooltip__text">
<!---->
    One-time only fee charged to cover our service.
<!----></div>
</span>
    </span>
    <span>53€</span>
  </div>
<!----><!---->    <div class="pricing-breakdown__cell pricing-breakdown__cell--promocode promocode">
        <span><div class="uni-anchor" data-ember-action="1679">Add Promocode</div></span>
    </div>
  <div class="pricing-breakdown__cell pricing-breakdown__cell--total ">
    <span>Total</span>
    <span>303€</span>
  </div>
</div>
<%= button_to "BOOK IT", new_location_booking_path(location_id: @location.id, in: params[:in], out: params[:out]), :method => "get", class: "btn btn--sm btn--primary type--uppercase" %>
</div></div>
</div>



</div>
 <div class="location-wrapper">
<div class="location-container">
<div class="location-info-row-1">
  <div class="location-description">
    <h3>About the place</h3>
    <p><%= @location.description %></p>
  </div>

  <div class="location-price-hours">
    <h3>Opening Hours</h3>
    <p>Monday to Saturday: <strong> 8am to 5pm </strong></p>
  <h3>Prices</h3>
  <p>Day: <strong><%= @location.rate_by_day %>€</strong> | Week: <strong><%= @location.rate_by_week %>€</strong></p>
  </div>
</div>

<div class="location-info-row-2">
  <div class="features">
    <h3>Features</h3>
  </div>
</div>
</div>
<div class="location-container-2">
<div class="location-map">
<div id="map" style="width: 100%; height: 100%"></div>
</div>

<div class="location-info">
  <div class="location-contact">
  <h3>Message</h3>
  <h3 style="text-align: center; margin-top: 20px;"><%= link_to "Send a message", conversations_path(sender_id: current_user.id, receiver_id: @location.user_id), method: :post, class: "new-message-link" %></h3>

  <h3 style="text-align: center; margin-top: 20px;"> <%= link_to "Chat Room", location_messages_path(location_id: @location.id) , class: "chatroom-link" %> </h3>

  </div>
  <div class="location-other-info">
    <h3>Rules</h3>
    <p><%= @location.rules %></p></br>
    <h3>Address</h3>
    <p><%= @location.address %></p>
  </div>
</div>


</div>
</div>



<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    var handler = Gmaps.build('Google');
    handler.buildMap({ internal: { id: 'map' } }, function() {
      markers = handler.addMarkers(<%= raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      if (markers.length == 0) {
        handler.getMap().setZoom(2);
      } else if (markers.length == 1) {
        handler.getMap().setZoom(14);
      }
    });
  <% end %>
<% end %>